.mat-card-header-text {
  margin: 0 auto !important;
}
mat-form-field, button {
  padding-left: 1vw;
  padding-right: 1vw;
  line-height: 1.125;
  max-height: 55px;
}
.searchForm {
  width: 50vw;
  margin: 0 auto;
}
